.error-block{
  &-text{
    @include flex-center;
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #FFE3D3;
    border-radius: 5px ;
    font-weight: 900;
    z-index: 1000;
  }
  @include flex-center;
  @include wh100;
  left: 0;
  position: absolute;
  background-color: #00000091;
  z-index: 4;
}