.notice{
  border: 2px solid red;
}

.v-tasks{
  width: 100%;
  display: flex;
  padding: 5vh;
  justify-content: center;
  &-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header{
      font-family: "Roboto", normal, sans-serif;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      color: $textC;
    }
    &-block{
      max-width: calc(325px * 3 + 90px);
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &-newTask{
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 325px;
        height: 150px;

        background: #F7F7F7;
        border-radius: 9px;
        &-center{
          display: flex;
          align-items: center;
          flex-direction: column;
          &-icon{
            width: 21px;
            height: 23px;
            color: $textI;
            background-image: url('../../assets/image/plus.png');
          }
          &-text{
            margin-top: 26px;
            font-family: "Roboto", normal, sans-serif;
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            color: $textC;
          }
        }
      }
    }
  }
  &-completed{
    @include flex-center;
    position: absolute;
    width: 212px;
    height: 48px;
    right: 0;
    background: #FFE3D3;

    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 13px 0px 0px 13px;
    font-family: "Roboto", normal, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $textC;
    
  }
  &-completed-two{
    display: none;
  }
}
@media screen and (max-width: 1240px){
  .v-tasks{
  &-wrapper{
    &-block{
      max-width: calc(325px * 2 + 60px);
      &-newTask{
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 325px;
        height: 150px;
      }
    }
  }
  }
}
@media screen and (max-width: 780px){
  .v-tasks{
  &-wrapper{
    &-block{
      max-width: calc(325px * 2 + 60px);
      justify-content: center;
      &-newTask{
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 325px;
        height: 150px;
      }
    }
  }
  }
}